<h2>Future Events</h2>

<ul>
  <%= render @events.future %>
</ul>

<h3>Past Events</h2>

<ul>
  <%= render @events.past %>
</ul>

  <% if user_signed_in? %>
    <%= button_to "New Event", new_event_path, method: :get %>
  <% end %>  
