<h2>Events</h2>

<!---
<ul>
  <%#= render @events %>
</ul>

<%#= link_to "New Event", new_event_path %>
--->

<% if user_signed_in? %>
  <%= button_to "edit account", edit_user_registration_path, method: :get  %>
  <%= button_to "logout", destroy_user_session_path, method: :delete  %>
<% else %>
  <%= button_to "sign in", user_session_path %>
<% end %>